* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #b6c1c9;
  font-family: "Arial Narrow", sans-serif;
}

h2 {
  font-family: "Courier", monospace;
  font-size: 60px;
  text-align: center;
  color: #352d63;
}

.menu {
  margin-top: 25px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.btn-item {
  margin-left: 12px;
}

.photo {
  width: 30%;
  height: 175px;
  object-fit: cover;
  border: 5px solid rgb(54, 56, 170);
  border-radius: 15px;
}

.menu-items {
  display: flex;
  margin: 20px 0;
}

.menu-info {
  margin-left: 20px;
  width: 100%;
}

.menu-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid rgb(42, 24, 145);
}

h4 {
  color: #1f1258;
}

.menu-text {
  padding-top: 20px;
}